@using Disertatie.Helpers
@{
    ViewBag.Title = "InvitatiiProiect";
    Layout = "~/Views/Shared/_LayoutAnonymousProfilePicture.cshtml";
}

@model Disertatie.Models.MembruHomeModel
          

@section Scripts {
    <link href="@Url.Content("~/Content/css/smart_tab.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.3.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.smartTab.js")" type="text/javascript"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            //When page loads...
            $(".tab_content").hide(); //Hide all content
            $("ul.tabs li:first").addClass("active").show(); //Activate first tab
            $(".tab_content:first").show(); //Show first tab content

            //On Click Event
            $("ul.tabs li").click(function () {

                $("ul.tabs li").removeClass("active"); //Remove any "active" class
                $(this).addClass("active"); //Add "active" class to selected tab
                $(".tab_content").hide(); //Hide all tab content

                var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
                $(activeTab).load($(this).find("a").attr('data-url')).fadeIn(); //Fade in the active ID content

                return false;
            });

        });
     
    </script>
   
}


    <ul class="tabs">
        <li><a href="#tab1" data-url="@Url.Action("InvitatiiProiectInAsteptare", "proiecte")">Invitatii in asteptare</a></li>
        <li><a href="#tab2" data-url="@Url.Action("InvitatiiProiectAcceptate", "proiecte")">Invitatii acceptate</a></li>
        <li><a href="#tab3" data-url="@Url.Action("InvitatiiProiectRespinse", "proiecte")">Invitatii respinse</a></li>
    </ul>
    <div class="tab_container">
        <div id="tab1" class="tab_content" >
            @if (Model.InviitatiiProiectTrimiseInAsteptare.Count == 0) { 
                @Html.WarningBox("Atentie", "Nu aveti nici o invitatie in asteptare")
            } else {
                
               
                @Html.Partial("InvitatiiInAsteptareList", Model.InviitatiiProiectTrimiseInAsteptare)    
            }
        </div>
        <div id="tab2" class="tab_content">
            @if (Model.InviitatiiProiectTrimiseAcceptate.Count == 0) { 
                @Html.WarningBox("Atentie", "Nu aveti nici o invitatie acceptata")
            } else {                  
                ViewBag.FinalAction = true;
                
                @Html.Partial("InvitatiiAcceptateList", Model.InviitatiiProiectTrimiseAcceptate)              
            }
        </div>
        <div id="tab3" class="tab_content">          
          @if (Model.InviitatiiProiectTrimiseRespinse.Count == 0)
          {              
                 @Html.WarningBox("Atentie", "Nu aveti nici o invitatie respinsa")            
          }
          else
          {
              ViewBag.FinalAction = false;                
              @Html.Partial("InvitatiiRespinseList", Model.InviitatiiProiectTrimiseRespinse)                          
          }       
         </div>
        
    </div>
