@using Disertatie.Core;
@using Disertatie.Helpers;
@model Disertatie.Models.MembruHomeModel
@{
    ViewBag.Title = "MembruHome";
}
<div id="pageBody">
    <div id="mainbar" style="width:1000px">
    <div id="start_left">
   
        <div id="divportal-update" class="window" tag="1">
            <div class="titleWindow ">
                <div id="titleText">
                    Ultimele informatii despre proiecte
                </div>
            </div>
            <div id="divportal-update_content" class="windowContent contentPad">
                @Html.Partial("NoutatiProiecte", Model.NoutatiProiecte)
            </div>
        </div>
         </div>
         <div id="start_right">
        <div id="divrecent-content" class="window" tag="1">
            <div class="titleWindow ">
                <div id="titleText">
                    Ultimele anunturi</div>
                    </div>
                <div id="divrecent-content_content" class="windowContent contentPad">
                    @Html.Partial("UltimeleAnunturi", Model.UltimeleAnunturi)
                </div>
            
        </div>
    </div>
    </div>
   
    <div id="start_side">
        @if (string.IsNullOrEmpty(Model.Utilizator.PozaProfil))
        {
            
            <div id="divmy-profile" class="greyWindow">
                <div class="titleWindow_grey">
                    <div id="titleText">
                        Profilul meu</div>
                </div>
                <div id="divmy-profile_content" class="windowContent contentPad">
                    <div id="profile_holder">
                        <div style="text-align: center">
                            <img src=src="@Url.Content("~/Content/Images/NoPhoto.jpg")" alt="" width="170" />
                        </div>
                        <div id="profile_menu">
                            <img align="left" src="@Url.Content("~/Content/Images/picture_edit.png")" alt="" />
                            <a href="@Url.Action("ModificaMembru", "Home", new { id = Model.Utilizator.Id })" >Editeaza
                                profil</a>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div id="divmy-profile" class="greyWindow">
                <div class="titleWindow_grey">
                    <div id="titleText">
                        Profilul meu</div>
                </div>
                <div id="divmy-profile_content" class="windowContent contentPad">
                    <div id="profile_holder">
                        <div style="text-align: center">
                            <img src="@Model.Utilizator.PozaProfil" alt="" width="170" />
                        </div>
                        <div id="profile_menu">
                            <img align="left" src="@Url.Content("~/Content/Images/picture_edit.png")" alt=""  />
                            <a href="@Url.Action("ModificaMembru", "Home", new { id = Model.Utilizator.Id })" >Editeaza
                                profil</a>
                        </div>
                    </div>
                </div>
            </div> 
    
        }
    </div>
</div>
