@{
    ViewBag.Title = "Anunturi";
    Layout = "~/Views/Shared/_LayoutAnonymousProfilePicture.cshtml";
}
@using Disertatie.Helpers
@model Disertatie.Models.MembruHomeModel
<script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui.js")" type="text/javascript"></script>
@*<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>*@


<p>
 @Html.ActionLink("Creeaza anunt", "CreeazaAnunt", "Anunturi", null, new { @class = "openDialog", data_dialog_id = "emailDialog", data_dialog_title = "Creeaza anunt" })
 </p>
<div style="width:100%">
<div id="app_main">

@if (Model.Anunturi.Count > 0)
{ 
@Html.Partial("AnunturiList", Model.Anunturi)
}
else
{
    @Html.WarningBox("Nu exista inregistrari", "Nu exista inregistrari")
}
</div>
<div id="app_sidebar">
<div class="contentPad" style="height:100%; display:">
         <ul class="commands" style="list-style-type: none; ">
         
                     
                     <li>@Html.ActionLink("Anunturile mele", "GetAnunturileMele", "Anunturi", null, new { @class = "publish" })</li>
                     <li>@Html.ActionLink("Toate anunturile", "GetToateAnunturile", "Anunturi", null, new { @class = "publish" })</li>
                     
                    </ul>
        
    </div>
</div>
</div>

<script type="text/javascript">

   

    $.ajaxSetup({ cache: false });

    $(document).ready(function () {
 
        $(".openDialog").live("click", function (e) {
            e.preventDefault();

            $("<div></div>")
                .addClass("dialog")
                .attr("id", $(this).attr("data-dialog-id"))
                .appendTo("body")
                .dialog({
                    title: $(this).attr("data-dialog-title"),
                    close: function () { $(this).remove() },
                    modal: true,
                    width: '430px'
                })
                .load(this.href);
                
              
        });

        $(".close").live("click", function (e) {
            e.preventDefault();
            $(this).closest(".dialog").dialog("close");
            window.location.reload(true)
        });
    });
</script>

