@model IEnumerable<Disertatie.Core.Models.Proiect>
@using Disertatie.Helpers


<table id="services">
	
    <thead>
		<tr>
			<th>
				
			</th>
            <th>
				
			</th>
			<th>
				Creat la
			</th>
			<th>
				Titlu
			</th>
			
			<th>
			    Membrii necesari
			</th>
            
            <th>
            </th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model) {
	
         <tr>
				<td style="background-color: #E4E6CC;">
					@Html.ActionLink("Detalii", "DetaliiProiecteAnulate", "Proiecte", new { id = item.Id }, null)
                </td>
				<td>
					@item.DataCreare.ToString("dd-MM-yyyy HH:mm")
				</td>
				<td>
					<a href="@Url.Action("DetaliiProiecteAnulate", "Proiecte", new { id = item.Id })" style="color: #148DFD;">@item.Titlu</a>
				</td>
				<td>
					@item.MembriiNecesari
				</td>                
				
				<td>
                @Html.ActionLink("Propus", "DeschideProiect", "Proiecte", new { id = item.Id }, new { @class = "publish" })
                </td>
			</tr>
      
  }
	</tbody>
     <tfoot>
        <tr>
            <td colspan="6">
                @Html.Partial("PaginationProiecteAnulate", Model)
            </td>
        </tr>
    </tfoot>
</table>